.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.DS_Store
docs/.DS_Store
docs/.DS_Store
aulas/.DS_Store
aulas/Aula09_files/.DS_Store
aulas/Aula09_files/libs/.DS_Store
aulas/Aula10-Pop_de_dados_e_datas_files/.DS_Store
aulas/Aula10-Pop_de_dados_e_datas_files/libs/.DS_Store
aulas/Aula23-Distribuicoes_e_pacotes_files/.DS_Store
aulas/Aula23-Distribuicoes_e_pacotes_files/libs/.DS_Store
aulas/Aula34_intervalo_confi_files/.DS_Store
aulas/Aula34_intervalo_confi_files/libs/.DS_Store
docs/.DS_Store
docs/site_libs/.DS_Store
